<!doctype html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=urf-8">
    {% block head %}
		<title>{% block title %}{% endblock %}</title>

		{% block extra_head %}
		{% endblock %}

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	{% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
		  <!-- &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>. -->
      {% endblock %}
    </div>
  </body>
</html>
