<!DOCTYPE HTML>

<html>
	<head>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.js"></script>
      <script type="text/javascript" src="/static/sliders.js"></script>
      <link rel="stylesheet" href="/static/sliders.css"/>
  </head>

  <body>

	<div style="background:#567890;">
		<p>
			<span class="wrap_red"><input class="r ch" type="range" min="0" max="255" /></span>
			<input type="number" min="0" max="255" />
		</p>
		<p>
			<span class="wrap_green"><input class="g ch" type="range" min="0" max="255" /></span>
			<input type="number" min="0" max="255" />
		</p>
		<p>
			<span class="wrap_blue"><input class="b ch" type="range" min="0" max="255" /></span>
			<input type="number" min="0" max="255" />
		</p>
		<p>
			<span class="wrap_white"><input class="w ch" type="range" min="0" max="255" /></span>
			<input type="number" min="0" max="255" />
		</p>
		#<span class="result">567890</span>
	</div>

  </body>
</html>
